.login-container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1290%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1291%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1440 0L1051.79 0L1440 277.67z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1051.79 0L1440 277.67L1440 393.55L617.53 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M617.53 0L1440 393.55L1440 493.62L326.88 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M326.8800000000001 0L1440 493.62L1440 512.38L200.67000000000013 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L433.49 560L0 412.97z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 412.97L433.49 560L879.87 560L0 387.72z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 387.72L879.87 560L1095.6100000000001 560L0 241.16000000000003z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 241.15999999999997L1095.6100000000001 560L1119.72 560L0 105.48999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1290'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1291'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(92%2c 0%2c 158%2c 0.11)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.login-form {
  width: 50rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 23px;
}

.login-form-body {
  height: 27rem;
}

.login-header-title {
  font-size: 1.8rem;
  display: block;
  font-weight: 600;
}

.form-field-body {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .login-form {
    width: 20rem;
  }

  .login-header-title {
    font-size: 1.2rem;
  }

  .login-right-side {
    display: none;
  }

  .form-field-body {
    width: 100%;
  }
}
